@media (max-width:920px) {
    .no3out{
        display: none;
    }
}


        /* 右邊朋友壽星 */
        .no3out{
            flex:none;
            width:250px;
            overflow:scroll;
        }
        .no3out::-webkit-scrollbar {
            display: none
        }        
        .no3{
            flex:none;
            width:250px;
            margin-left: 25px;
            height: 150vh;
        }
        .no3>hr{
            margin: 0px 30px 0px 20px
        }
        .no3>.birthday{
            margin:20px 10px 20px 10px;
            display: flex;
            flex-direction: column;
            font-size: 10px;
        }
        .no3>.birthday>#birthday{
            height: 30px;
            border-radius: 10px;
            line-height: 30px;
        }
        .no3>.birthday>#birthday:hover{
            cursor: pointer;
            background-color: #e2e4e5;
        }

        .no3>.users{
            margin:20px 10px 20px 10px;
            display: flex;
            flex-direction: column;
            font-size: 10px;
        }
        .no3>.users>#users{
            margin:10px 10px 10px 10px;
            height: 30px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            border-radius: 5px;
        }
        .no3>.users>#users:hover{
            background-color: #e2e4e5;
            cursor: pointer;
        }
        
        .no3>.users>#users>img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 10px ;
            box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.76);
        }

        .no3>.users>#users>div>#no3more{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #d8d9db;            
            margin-right: 8px;
            margin-left: 1px;
        }
        .no3>.users>#users>div>#no3more>i{
            width: 100%;justify-content:center;display: flex;line-height: 30px
        }




        /* messenger */

        .messenger{
            position: absolute; 
            bottom: 0;
            width: 250px; 
            height: 300px;
            background-color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            right: 100px;
            box-shadow: 5px 5px 20px  rgba(128, 128, 128, 0.329),-5px -5px 20px  rgba(184, 183, 183, 0.329);
        }
        .messengerx{
            display: none;
        }


        /* 上面 */
        .messenger>.mess1{
            margin: 2px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),0 -1px rgba(0, 0, 0, 0.1) inset ,0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
            display: flex;
            justify-content:space-between
        }
        .messenger>.mess1>div>img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            line-height: 20px;
            margin: 5px;
        }

        .messenger>.mess1>div>div{
            margin: 5px;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            color: rgb(85, 85, 253);
        }
        .messenger>.mess1>div>div:hover{
            background-color: rgba(219, 218, 218, 0.582);
            cursor: pointer;
        }
        .mess1>.messname{
            font-size: 10px;
            display: flex;
            align-items: center
        }

        .messenger>.mess2{
             height: 70%;
             width: 98%;
             margin: auto;
             overflow-y:scroll;
        }
        
        .messenger>.mess2>div{
            height: 150%;
           font-size: 0px;
        }

        .messenger>.mess2>div>img{
            width: 98%;
            height: 98%;
            opacity:0.75
        }
        .messenger>.mess2>div>img:hover{
            opacity:10;
            cursor: pointer;
        }

        .messenger>.mess3{
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }
        .messenger>.mess3>#mess3{
            color: rgb(85, 85, 253);
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            
        }
        .messenger>.mess3>#mess3:hover{
            cursor: pointer;
            background-color: rgba(224, 223, 223, 0.555);
        }
        .messenger>.mess3>div>input{
            width: 80px;
            border-radius:20px;
            border: #F0F2F5 solid 0.1px;
            background-color: #e4e3e3;
            font-size: 10px;
        }
        

        .magnifier>div>img{
            position:absolute;
            width: 400px;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 25px;
            box-shadow: 5px 5px 20px  rgba(128, 128, 128, 0.329),-5px -5px 20px  rgba(184, 183, 183, 0.329);
        }
        .magnifierx{
            display: none;
        }