        /* RWD */
         @media (min-width:920px) {
            article{
                width:70vw;
            }
        } 
         @media (max-width:1200px) {
            article{
                width:85vw
            }
        }
        @media (max-width:1000px) {
            article{
                width:100%
            }
        } 
        *{
            margin: 0;
        }

        .body{
            font-family: 'Noto Serif TC', serif;            
            list-style-type: none;
            background-color: #F0F2F5;
            }
        

        /*中間*/
        article{
            display:flex;
            justify-content:center;
            height: 100vh;
            margin: auto;
            background-color: #F0F2F5;
        }

        


        

